<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="background">
        <div class="box">
            <span class="text-center">Sign Up</span>
        <form action="/register" method="post">
           <div class="input-container">
            <input type="text" name="firstname" placeholder="Enter your Firstname">
           </div>
           <div class="input-container">
            <input type="text" name="lastname" placeholder="Enter your Lastname">
           </div>
           <div class="input-container">
           <input type="email" name="email" placeholder="Enter your Email ID">
           </div>
           <div class="input-container">
            <input type="password" name="password" placeholder="Enter your Password">
           </div>
           <input class="btn" type="submit" name="submit">
        </form>
    </div>
    </div>
</body>
</html>